.minigameContainer {
  min-height: 80vh;
  display: flex;
}

/* left side */

.leftSide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nftContainer {
  width: 50%;
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  backface-visibility: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 5.25);
  border-radius: 15px;
}

.nftContainer:hover {
  cursor: pointer;
  transform: translate3d(0px, -4px, 0px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nftImage {
  width: 100% !important;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  object-fit: cover;
}

.nftTokenId {
  font-size: 12px;
  margin: 0px;
  margin-top: 12px;
}

.containerMini {
  margin-top: 7rem;
  padding-left: 10px;
}

.containerMiniItem a {
  text-decoration: none;
  color: black;
}

.nftName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  color: black;
  font-family: inherit;
  vertical-align: inherit;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 12px;
  margin-top: 4px;
}

/* right side */

.rightSide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 26px;
  margin: 0 0 12px 0;
}

.rightSide button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  margin: 4px 0;
  color: white;
  border: none;
  background-color: #1b5d8d;
  transition: 0.2s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nftContainer button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  margin: 4px 0;
  color: white;
  border: none;
  background-color: #1b5d8d;
  transition: 0.2s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nftContainer button:hover {
  cursor: pointer;
  background-color: #1e71ad;
  color: rgb(241, 202, 202);
  transform: scale(1.02);
}

.rightSide button:hover {
  cursor: pointer;
  background-color: #1e71ad;
  color: rgb(241, 202, 202);
  transform: scale(1.02);
}

.icon {
  border-radius: 8px;
  width: 24px !important;
  height: 24px !important;
  margin-right: 4px;
}

#social_icons {
  padding: 0.5em;
  line-height: 1.22;
  float: left;
  vertical-align: bottom;
}

.AnimationButton button:hover {
  padding: 15px 5px;
  cursor: pointer;
  transition: all 0.5s;
  bottom: 10px;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  color: black;
  line-height: 32px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 4.25);
  border-radius: 15px;
  border-radius: 21.5692px;
  border: none;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .minigameContainer {
    flex-direction: column;
  }

  .leftSide {
    width: 100%;
  }

  .rightSide {
    width: 100%;
  }

  .content {
    position: relative;
  }

  .contenta {
    font-size: 18px;
  }

  .rightSide .content button {
    margin: 0;
    position: inherit;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}