.Container {
  margin-top: 20px;
}
.nftTittleTop {
  display: flex;
  justify-content: space-between;
}
.nftTittle {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  float: left;
}
.nftCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}
.nftQuestion {
  font-size: 1.25rem;
  font-weight: 500;
}
.nftCardItems {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 18%;
}
@media (max-width: 500px) {
  .nftQuestion {
    font-size: 0.8rem;
  }
  .nftCardItems{
    width: 49%;
  }
}
