.topCollectionContainer {
  margin-top: 20px;
}
.topCollectionName {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.topCollectionTittle{
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}
.card{
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 830px){
  .topCollectionName{
    font-size: 16px;
  }
}
@media (max-width: 500px){
  .topCollectionName{
    font-size: 0.5rem;
  }
}
