.profileHeader {}

.coverImage {
  width: 100%;
  background-color: #272a2d;
  height: 300px;
  border-radius: 16px;
}

.profilePicture {
  width: 132px;
  height: 132px;
  border-radius: 132px;
  vertical-align: inherit;
  outline: 3px solid rgba(255, 255, 255, 0.1);
  margin-top: -72px;
  margin-left: 5%;
}

.profileName {
  margin-left: 2.5%;
}

.tabs {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  color: black;
}

.nav-link .active {
  color: blue;
}

.tab {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  /* color: rgba(255, 255, 255, 0.6); */
  color: black !important;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.nav-link{
  color: black !important;
}
.tab:hover {
  color: blue;
}

.activeTab {
  color: blue;
  border-bottom: 2px solid #0294fe;
}

.tabContent {
  display: none;
  height: 0px;
  opacity: 0;
  transition: all 0.1s linear;
}

.activeTabContent {
  display: flex;
  flex-direction: row;
  opacity: 1;
}

.nftGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
  text-decoration: none !important;
}