.title {
  padding: 8px;
  font-size: 3rem;
  margin-bottom: 8px;
}

.legend {
  /* color: rgba(255, 255, 255, 0.8); */
  color: black;
  margin: 0px;
  margin-bottom: 8px;
}

.legend:first-child {
  margin-top: 38px;
}

.input {
  display: block;
  width: 98%;
  padding: 12px 16px;
  margin-bottom: 0.5rem;
  background: transparent;
  /* border: none; */
  font-size: 16px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-bottom: 16px;
  margin-left: 2px;
  border: 1px solid #ccc;
}

.formSectionTitle {
  margin-top: 6px;
  margin-bottom: 8px;
}

.activeTabContent {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.btn {
  width: 400px !important;
  padding: 5px;
  background-color: rgb(32, 129, 226) !important;
  color: white !important;
}
